#ext_menu-17 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-17.mbr-navbar--stuck .mbr-navbar__section {
  background: #2d2d2d;
}
#ext_menu-17 .mbr-navbar__section {
  background: #2d2d2d;
}
#ext_menu-17 .mbr-brand__name a {
  font-size: 24px;
}
#ext_menu-17 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-29 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-29 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-29 .mbr-article {
  color: #fff;
}
#ext_menu-17 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-17.mbr-navbar--stuck .mbr-navbar__section {
  background: #2d2d2d;
}
#ext_menu-17 .mbr-navbar__section {
  background: #2d2d2d;
}
#ext_menu-17 .mbr-brand__name a {
  font-size: 24px;
}
#content5-14 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-14 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-14 .mbr-article {
  color: #fff;
}
#content5-14 .mbr-article P {
  font-size: 17px;
}
#form1-24 .mbr-header__text {
  color: #ffffff;
}
#ext_menu-17 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-17.mbr-navbar--stuck .mbr-navbar__section {
  background: #2d2d2d;
}
#ext_menu-17 .mbr-navbar__section {
  background: #2d2d2d;
}
#ext_menu-17 .mbr-brand__name a {
  font-size: 24px;
}
#ext_menu-17 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-17.mbr-navbar--stuck .mbr-navbar__section {
  background: #2d2d2d;
}
#ext_menu-17 .mbr-navbar__section {
  background: #2d2d2d;
}
#ext_menu-17 .mbr-brand__name a {
  font-size: 24px;
}
#content5-14 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-14 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-14 .mbr-article {
  color: #fff;
}
#content5-14 .mbr-article H1 {
  color: #ffffff;
  text-align: left;
  font-size: 25px;
}
#content5-16 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-16 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-16 .mbr-article {
  color: #fff;
}
#ext_menu-17 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-17.mbr-navbar--stuck .mbr-navbar__section {
  background: #2d2d2d;
}
#ext_menu-17 .mbr-navbar__section {
  background: #2d2d2d;
}
#ext_menu-17 .mbr-brand__name a {
  font-size: 24px;
}
#content5-13 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-13 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-13 .mbr-article {
  color: #fff;
}
#ext_menu-17 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-17.mbr-navbar--stuck .mbr-navbar__section {
  background: #2d2d2d;
}
#ext_menu-17 .mbr-navbar__section {
  background: #2d2d2d;
}
#ext_menu-17 .mbr-brand__name a {
  font-size: 24px;
}
#content5-14 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-14 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-14 .mbr-article {
  color: #fff;
}
#ext_menu-17 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-17.mbr-navbar--stuck .mbr-navbar__section {
  background: #2d2d2d;
}
#ext_menu-17 .mbr-navbar__section {
  background: #2d2d2d;
}
#ext_menu-17 .mbr-brand__name a {
  font-size: 24px;
}
#ext_menu-19 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-19.mbr-navbar--stuck .mbr-navbar__section {
  background: #2d2d2d;
}
#ext_menu-19 .mbr-navbar__section {
  background: #2d2d2d;
}
#ext_menu-19 .mbr-brand__name a {
  font-size: 24px;
}
#content5-20 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-20 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-20 .mbr-article {
  color: #fff;
}
#content5-20 .mbr-article P {
  text-align: center;
}
